@model IEnumerable<ProductCatalog.View_Models.ProductViewModel>


<ul class="products voffset4">
    @foreach (var product in Model)
    {
        <li>
            @*<div>
                    <h3>@product.Name</h3>
                    <h5>@product.Price</h5>
                    <img src="~/@product.GetImage(Server.MapPath(Server.MapPath("~/ProductsImages")))" width="150" height="150" />
                </div>*@


            <div class="productImage">
                <img src="~/@product.GetImage(Server.MapPath("~/ProductsImages"))" />
            </div>
            <div class="details">
                <span class="ProductName">
                    @product.Name


                </span>
                <span class="ProductPrice">
                    @product.Price - USD
                </span>
                <span class="ProductPrice">
                    <a href="@Url.Action("CreateOrUpdate","Product",new { Id=product.Id})" class="btn btn-default btn-sm js-toggle-edit" data-user-id="@product.Id">Edit</a>
                </span>
                <span class="ProductPrice">
                    <button class="btn btn-link btn-sm  js-toggle-delete" data-Product-id="@product.Id">Delete</button>
                </span>

            </div>



        </li>
    }

</ul>



@section scripts
{
    <script>
        $(document).ready(function () {

            $(".js-toggle-delete").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { "Id": button.attr("data-Product-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    })
            });

        });



    </script>
}
